pkgbase = python-idna
	pkgdesc = Internationalized Domain Names in Applications (IDNA)
	pkgver = 3.6
	pkgrel = 1
	url = https://github.com/kjd/idna
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python
	source = https://github.com/kjd/idna/archive/v3.6/python-idna-3.6.tar.gz
	sha512sums = 4ffadae74aa69529cd37a6d361564b2a11450af6aa15f6691ba668139f4efe2893361c0fe7bf8e0d8ebcba1dc8937d50a3dfb3782905f1e1983d01455dced1ff

pkgname = python-idna
