pkgbase = python-idna
	pkgdesc = Internationalized Domain Names in Applications (IDNA)
	pkgver = 3.5
	pkgrel = 1
	url = https://github.com/kjd/idna
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python
	source = https://github.com/kjd/idna/archive/v3.5/python-idna-3.5.tar.gz
	sha512sums = a806e4f96f2f1034dd634f3c86e80c6e7929a80c0773e4b2749466b691d38b94b6ea64994613cb5f8764754c1c9813eade4b74105f64233671b8eeaca7125bdc

pkgname = python-idna
